/*COLORS:
rgb(198, 198, 198, x.x) - light grey rgba
rgb(255, 255, 255, x.x) - white rgba
rgb(73, 74, 74, x.x) - dark grey rgba
rgb(183, 236, 232, x.x) - blue rgba
rgb(243, 51, 44, x.x) - red rgba
----
#c6c6c6 - light grey hex
#fff - white hex
#494a4a - dark grey hex
#b7ece8 - blue hex
#f3332c - red hex
#C92D28 - click dark red hex
*/

/*FONTS:
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Ubuntu Mono', monospace;*/

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #fff;
}

p {
  margin: 20px;
  font-size: 20px;
}

/*nav bar center*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #fff;
}
/*nav bar links*/
.navbar-default .navbar-nav>li>a {
  background-color: #fff;
  color: #f3332c;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #494a4a;
    background-color: white;
}
/*nav bar name*/
.navbar-default .navbar-brand {
  background-color: #fff;
  color: #f3332c;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #494a4a;
  background-color: white;
}
/*Nav Bar - Ease in-and-out hover action*/
.page-scroll {
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

/*jumbotron*/
.jumbotron {
  color: #fff;
  padding-top: 60px;
}
.jumbotron h1 {
  font-size: 100px;
  margin-top: 40px;
  color: #fff;
}
/*jumbotron - description of our app*/
.jumbotron p {
  color: #f3332c;
  font-size: 24px;
}
/*search for project form within with jumbotron*/
.form-inline {
  margin-top: 20px;
}
/*search button*/
.btn-primary {
  color: #f3332c;
  background-color: #fff;
  border-color: #fff;
  margin-left: 10px;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  color: #f3332c;
  background-color: #DCDCDC;
  border-color: #DCDCDC;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: #f3332c;
  background-color: #DCDCDC;
  border: none;
  outline: none;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover {
  color: #f3332c;
  background-color: #DCDCDC;
  border-color: #DCDCDC;
  outline: none;
}
/*END search button*/

/*current projects row*/
#current-projects-row {
  background-color: #b7ece8;
  color: #fff;
}
#current-projects-row p {
  color: #494a4a;
}
#project-one-col {
  height: 300px;
}
/*icons*/
.fa {
  font-size: 70px;
  color: #f3332c;
  margin-top: 60px;
  margin-bottom: 20px;
}
#project-two-col {
  height: 300px;
}
#project-three-col {
  height: 300px;
}

/*create project row*/
#create-project-row {
  color: #fff;
  background-color: #f3332c;
  margin-top: 30px;
  padding-bottom: 30px;
}
/*form that is within the create-project-row*/
#description, #location, #date-time, #project-name {
  margin: 0 auto;
  width: 50%;
}
/*project submit btn*/
#project-submit {
  margin-top: 20px;
}

/*projects near you row*/
#projects-near-you-row {
  background-color: #b7ece8;
  color: #494a4a;
  margin-top: 30px;
  margin-bottom: 60px;
  height: 500px;
}

/*footer*/
.fa-github {
  font-size: 40px;
  margin: 0px;
}
